.rich-text-content blockquote {
  border-left: 0.25rem solid var(--brand-color);
  padding: 0.5rem 1rem;
  background-color: rgba(
                  var(--brand-grey-foreground-rgb, 248, 249, 230),
                  0.9
  );
  margin: 1.75rem 0;

  &:is(.dark *) {
    background-color: rgba(
                    var(--brand-grey-foreground-rgb, 248, 249, 250),
                    0.1
    );

    p {
      color: var(--brand-color);
    }
  }
}

.rich-text-content p {
  margin-top: 0.75rem;
  font-size: var(--text-size-16);
  color: var(--brand-grey-foreground);
  --tw-leading: calc(var(--spacing) * 7);
  line-height: calc(var(--spacing) * 7);
}

.rich-text-content img {
  margin: 1rem 0;
}

.rich-text-content h1 {
  font-size: 20px;
  margin-top: 2rem;

  span {
    scroll-margin-top: 2rem;
  }

  &:is(.dark *) {
    color: white;
  }
}
