.rich-text-content blockquote {
  border-left: .25rem solid var(--brand-color);
  padding: .5rem 1rem;
  background-color: rgba(var(--brand-grey-foreground-rgb, 248, 249, 230), 0.9);
  margin: 1.75rem 0;

  &:is(.dark *) {
    background-color: rgba(var(--brand-grey-foreground-rgb, 248, 249, 250), 0.1);
  }

  & p:has(strong) {
    padding-top: 0;
  }
}

.rich-text-content h1 {
  font-size: 3rem;
}

.rich-text-content p {
  font-size: 1rem;
  line-height: 1.75rem;
  min-height: 1.75rem;

  &:is(.dark *) {
    color: var(--brand-grey-foreground)
  }
}

.rich-text-content p:has(strong) {
  padding-top: 1rem;
}

.rich-text-content img {
  margin: 1rem 0;
}

.rich-text-content strong {
  font-size: 1.25rem;

  &:is(.dark *) {
    color: white;
  }
}