.rich-text-content blockquote {
  border-left: 0.25rem solid var(--brand-color);
  padding: 0.5rem 1rem;
  background-color: rgba(
                  var(--brand-grey-foreground-rgb, 248, 249, 230),
                  0.9
  );
  margin: 1.75rem 0;

  &:is(.dark *) {
    background-color: rgba(
                    var(--brand-grey-foreground-rgb, 248, 249, 250),
                    0.1
    );

    p {
      color: var(--brand-color);
    }
  }

  & p:has(strong) {
    padding-top: 0;
  }
}

.rich-text-content h1 {
  font-size: 3rem;
}

.rich-text-content p {
  font-size: var(--text-size-16);
  color: var(--brand-grey-foreground);
  --tw-leading: calc(var(--spacing) * 7);
  line-height: calc(var(--spacing) * 7);
}

.rich-text-content p:has(strong) {
  padding-top: 1rem;
}

.rich-text-content *:has(strong) {
  margin-bottom: 0.5rem;
}

.rich-text-content img {
  margin: 1rem 0;
}

.rich-text-content strong {
  font-size: 20px;

  &:is(.dark *) {
    color: white;
  }
}
