@keyframes move-out {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scale-up-down {
  0% {
    scale: 100%;
  }
  50% {
    scale: 120%;
  }
  100% {
    scale: 100%;
  }
}

.pulse-scale {
  animation: scale-up-down 2.5s ease-in-out infinite;
}

.text-animation span {
  display: inline-block;
  animation: move-out 0.6s ease infinite;
}

.text-animation span {
  animation: move-out 0.6s ease infinite;
}

.text-animation span:nth-child(1) {
  animation-delay: 0s;
}

.text-animation span:nth-child(2) {
  animation-delay: 0.1s;
}

.text-animation span:nth-child(3) {
  animation-delay: 0.2s;
}

.text-animation span:nth-child(4) {
  animation-delay: 0.3s;
}

.text-animation span:nth-child(5) {
  animation-delay: 0.6s;
}

.text-animation span:nth-child(6) {
  animation-delay: 0.5s;
}

.text-animation span:nth-child(7) {
  animation-delay: 0.6s;
}