@import 'tailwindcss';
@import 'tw-animate-css';
@import '../styles/_keyframe-animations.scss';
@import '../styles/_variables.scss';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu,
    sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --text-size-22: 22px;
    --text-size-20: 20px;
    --text-size-19: 19px;
    --text-size-18: 18px;
    --text-size-16: 16px;
    --brand-color: #ffe400;
    --brand-green: #358439;
    --brand-red: var(--color-red-500);
    --brand-color-foreground: #fffe41;
    --brand-grey: var(--brand-common-grey);
    --brand-grey-foreground: var(--brand-grey-foreground);
    --brand-grey-light: #c4c4c4;
    --brand-black-bg: #363636;
    --color-brand-floating-btn: #ffe400;
    --color-brand-dialog: var(--brand-common-dialog);
    --color-brand-dropdown: var(--brand-common-dropdown);
    --color-brand-dropdown-title: var(--brand-common-dropdown-title);
    --color-brand-text: var(--brand-text);
    --color-brand-green: var(--brand-green);
    --color-brand-red: var(--brand-red);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: #f1f1f1;
    --sidebar-foreground: var(--brand-text);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: var(--brand-grey);
    --sidebar-accent-foreground: var(--brand-text);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --brand-text: #000000;
    /*--brand-common-grey: #E6E5E1;*/
    --brand-common-grey: #e6e5e1;
    --brand-grey-foreground: color-mix(in oklab, var(--brand-text) 90%, transparent);
    --brand-common-dialog: #ffffff;
    --brand-common-dropdown: var(--brand-common-dialog);
    --brand-common-dropdown-title: var(--brand-text);
    --brand-green: var(--color-green-400);
    --brand-red: var(--color-red-500);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: #252525;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: var(--brand-color);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --brand-text: #ffffff;
    --brand-common-grey: #3f3f3f;
    --brand-grey-foreground: #b9b9b9;
    --brand-common-dialog: #2e2e2e;
    --brand-common-dropdown: var(--brand-common-dialog);
    --brand-common-dropdown-title: var(--brand-text);
    --brand-green: #49a74e;
    --brand-red: var(--color-red-400);

}

@layer base {
    * {
        @apply border-border outline-ring/50;
        scroll-behavior: smooth;
        font-family: 'Inter', sans-serif;
    }

    html {
        color-scheme: normal !important;
    }

    ::-webkit-scrollbar {
        width: 0.4rem;
        height: 0.4rem;
    }

    ::-webkit-scrollbar-track-piece {
        background: var(--brand-grey);
        border-radius: var(--radius-xl);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--brand-grey-foreground);
        border-radius: var(--radius-2xl);
    }

    body {
        @apply bg-background text-foreground;
    }

    .app-text-input {
        @apply w-full! focus-visible:ring-0! focus-visible:outline-0! border-[var(--brand-grey-foreground)] dark:focus-visible:border-[var(--brand-color)]! bg-transparent! placeholder:font-semibold;
    }

    .vertical-text {
        writing-mode: sideways-lr;
        text-orientation: mixed;
    }

    .text-carousel-overlay {
        background-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.38) 2%,
                rgba(237, 221, 83, 0) 100%
        );
    }

    .app-date-picker {
        .app-months-dropdown {
            background: var(--color-brand-dialog);
            color: var(--brand-text);
        }

        .app-years-dropdown {
            background: var(--color-brand-dialog);
            color: var(--brand-text);
        }

        option:checked {
            background: var(--brand-color) !important;
            color: var(--brand-text) !important;
        }
    }
}

@theme {
    --animate-collapsible-down: collapsible-down 0.2s ease-out;
    --animate-collapsible-up: collapsible-up 0.2s ease-out;
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes collapsible-down {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: var(--radix-collapsible-content-height);
            opacity: 1;
        }
    }

    @keyframes collapsible-up {
        from {
            height: var(--radix-collapsible-content-height);
            opacity: 1;
        }
        to {
            height: 0;
            opacity: 0;
        }
    }

    @keyframes accordion-down {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
            opacity: 1;
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
            opacity: 1;
        }
        to {
            height: 0;
            opacity: 0;
        }
    }

    @keyframes slideDown {
        from {
            transform: scaleY(0);
            transform-origin: top;
            height: 0;
        }
        to {
            transform: scaleY(1);
            height: var(
                    --original-height,
                    100%
            ); /* Fallback to 100% if not specified */
        }
    }
}
