name: Deploy Production
on:
    push:
        branches: ['production']

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v3
            - name: Log in to Docker
              uses: docker/login-action@v2
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and Push Image
              uses: docker/build-push-action@v4
              with:
                  context: .
                  push: true
                  tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

            - name: Copy Files to VPS
              uses: appleboy/scp-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  source: './docker-compose.prod.yml,./init-minio'
                  target: '/app'

            - name: Deploy on VPS
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  script: |
                      mkdir -p /app
                      cd /app
                      # Login to Pull
                      echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

                      # Write Env File from GitHub Secrets
                      echo "${{ secrets.PROD_ENV }}" > .env

                      # Export Variables for Docker Compose
                      export $(cat .env | xargs)
                      export GITHUB_REPOSITORY_OWNER=${{ github.repository_owner }}
                      export GITHUB_REPOSITORY_NAME=$(echo ${{ github.repository }} | cut -d'/' -f2)

                      # Update & Restart
                      docker compose -f docker-compose.prod.yml pull next-app
                      docker compose -f docker-compose.prod.yml up -d --remove-orphans
                      docker image prune -f
